body.exercicio {
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-areas:
            "cabecalho"
            "navegacao"
            "principal"
            "rodape";
}

.principal {
    height: calc(100vh - 240px);
    color: #f8f8f2;
}

.navegacao {
    grid-area: navegacao;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #44475a;
}

.navegacao > a {
    text-decoration: none;
    color: #f8f8f2;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #ff79c6;
    padding: 5px 10px;
    margin-right: 15px;
}

.conteudo {
    font-size: 1.3rem;
}

.conteudo > .titulo {
    font-size: 2.0rem;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #f8f8f2;
    margin-bottom: 20px;
}

